doctype html

html
head
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css")
  style.
    .field { margin-top: 0.5em; }
    label { width: 500px; display: block; }
    input, textarea { width: 500px; }
body
  .ui.container
    h1 Authorize application

    .ui.form
      .field
        label(for='mobiusNetwork') Stellar Network
        input#mobiusNetwork(type="text", disabled=true, value=mobius.network.networkPassphrase())
        label(for='appPublicKey') Application Public Key
        input#appPublicKey(type="text", disabled="disabled", value=appKeypair.publicKey())

    h2.ui.dividing.header Step 1: Request Challenge

    .ui.form
      .field
        textarea#challenge_xdr(disabled="disabled", rows="10")

      .field
        button#challenge.ui.button.green Request challenge

    h2.ui.dividing.header Step 2: Sign Challenge

    .ui.form
      .field
        label(for="public_key") Public Key:
        input#public_key(type="text" value=userKeypair && userKeypair.publicKey())
      .field
        label(for="secret") Private Key:
        input#secret(type="text" value=userKeypair && userKeypair.secret())
      .field
        button#sign.ui.button.green Sign and send challenge

    h2.ui.dividing.header Step 3: Play

    .ui.form
      .field
        label(for="token") Token:
        input#token(type=text)

      .field
        button#charge.ui.button.green(disabled=true) Charge 10 MOBI
        span#charge-result.api-call-result

      .field
        button#balance.ui.button.green(disabled=true) Balance
        span#balance-result.api-call-result

  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/stellar-sdk/0.8.1/stellar-sdk.js")
  script.
    $(function () {
      var xdr = null;
      var signedXDR = null;
      var appPublicKey = $("#appPublicKey").val();

      StellarSdk.Network.use(new StellarSdk.Network("#{mobius.network.networkPassphrase()}"));

      function verify(tx, keypair) {
        const { signatures } = tx;
        const hash = tx.hash();

        if (!signatures || signatures.length === 0) {
          return false;
        }

        return signatures.some(function(signature) { return keypair.verify(hash, signature.signature()) });
      }


      $("#challenge").on("click", function() {
        axios.get("http://localhost:8080/auth").then(function(response) {
          xdr = response.data;
          $("#challenge_xdr").val(xdr);
        }).catch(function(err) {
          $("#result").html(err.message);
        });
      });

      $("#sign").on("click", function() {
        let keypair = StellarSdk.Keypair.fromSecret($("#secret").val())
        let tx = new StellarSdk.Transaction(xdr);
        let developerKeypair = StellarSdk.Keypair.fromPublicKey(appPublicKey);

        if (!verify(tx, developerKeypair)) {
          throw new Error("Wrong challenge transaction signature");
        }
        tx.sign(keypair);

        signedXDR = tx.toEnvelope().toXDR("base64");

        $("#signed_challenge_xdr").val(signedXDR);

        axios.post("http://localhost:8080/auth", {
          xdr: signedXDR,
          public_key: keypair.publicKey()
        }).then(function(response) {
          $("#token").val(response.data);
          $("#charge").prop("disabled", false);
          $("#balance").prop("disabled", false);
        }).catch(function(err) {
          $("#token").val(err.message);
        });
      });

      $("#balance").on("click", function(e) {
        $(e.target).addClass('loading');
        $(".api-call-result").empty();
        axios.get(`http://localhost:8080/api/balance?token=${$("#token").val()}`)
        .then(function (response) {
          $(e.target).removeClass('loading');
          $("#balance-result").text(`Your current balance is ${response.data.balance}`);
        });
      });

      $("#charge").on("click", function(e) {
        $(e.target).addClass('loading');
        $(".api-call-result").empty();
        axios.post(
          `http://localhost:8080/api/charge?token=${$("#token").val()}`,
          { amount: 10 }
        ).then(function(response) {
          $(e.target).removeClass('loading');
          $("#charge-result").text(`Ok! Your current balance is ${response.data.balance}`);
        });
      });
    });
